Repository renningen-dev/bobbervox: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-backend, eslint-frontend, vitest-frontend

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.2
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  - repo: local
    hooks:
      - id: pytest-backend
        name: pytest (backend)
        entry: bash -c 'cd backend && .venv/bin/python -m pytest tests/ -x -q'
        language: system
        pass_filenames: false
        files: ^backend/
        types: [python]

      - id: eslint-frontend
        name: eslint (frontend)
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

      - id: vitest-frontend
        name: vitest (frontend)
        entry: bash -c 'cd frontend && npm run test:run'
        language: system
        pass_filenames: false
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx]

Add missing frontend project files, fix gitignore pattern
  .gitignore
  frontend/src/components/projects/CreateProjectDialog.tsx
  frontend/src/components/projects/ProjectCard.test.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/features/projects/api.ts
Due: eslint-frontend, vitest-frontend

Highlight waveform regions on segment card hover
  CONTEXT.md
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/waveform/WaveformControls.tsx
  frontend/src/components/waveform/WaveformPlayer.tsx
  frontend/src/hooks/useWaveSurfer.ts
  frontend/src/stores/editorStore.ts
Due: eslint-frontend, vitest-frontend

Show detailed error messages for AI operations
  frontend/src/components/segments/SegmentCard.tsx
Due: eslint-frontend, vitest-frontend

Fix re-render after AI operations and improve translation state
  backend/app/services/openai_service.py
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/features/segments/api.ts
Due: pytest-backend, eslint-frontend, vitest-frontend

Make analysis fields editable with auto-save
  backend/app/services/segment_service.py
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/features/segments/api.ts
  frontend/src/types/index.ts
Due: pytest-backend, eslint-frontend, vitest-frontend

Add download functionality for TTS audio
  CONTEXT.md
  backend/app/routers/files.py
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/segments/SegmentList.tsx
Due: pytest-backend, eslint-frontend, vitest-frontend

Update TTS voices and remove segments legend
  backend/app/schemas/segment.py
  backend/app/services/openai_service.py
  frontend/src/components/waveform/WaveformPlayer.tsx
  frontend/src/types/index.ts
Due: pytest-backend, eslint-frontend, vitest-frontend

Add HeadlessUI components, auto-analysis, and status improvements
  backend/app/repositories/segment_repo.py
  backend/app/routers/segments.py
  backend/app/services/segment_service.py
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/ui/Spinner.tsx
  frontend/src/components/ui/ToggleSwitch.tsx
  frontend/src/components/ui/VoiceListbox.tsx
  frontend/src/components/waveform/WaveformControls.tsx
  frontend/src/components/waveform/WaveformPlayer.tsx
  frontend/src/features/projects/api.ts
  frontend/src/features/segments/api.ts
  frontend/src/index.css
  frontend/tailwind.config.js
Due: pytest-backend, eslint-frontend, vitest-frontend

Add HeadlessUI animations and UI polish
  backend/app/services/openai_service.py
  frontend/src/components/projects/CreateProjectDialog.tsx
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/ui/ConfirmDialog.tsx
  frontend/src/components/ui/VoiceListbox.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/ProjectListPage.tsx
  frontend/tailwind.config.js
Due: pytest-backend, eslint-frontend, vitest-frontend

Add dark mode with modern UI styling
  frontend/src/components/editor/VideoUploadDropzone.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/projects/CreateProjectDialog.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/segments/SegmentList.tsx
  frontend/src/components/ui/ConfirmDialog.tsx
  frontend/src/components/ui/VoiceListbox.tsx
  frontend/src/components/waveform/WaveformControls.tsx
  frontend/src/components/waveform/WaveformPlayer.tsx
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/ProjectListPage.tsx
  frontend/src/stores/themeStore.ts
  frontend/tailwind.config.js
Due: eslint-frontend, vitest-frontend

Add custom WaveSurfer audio player and UI refinements
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/ui/AudioPlayer.tsx
  frontend/src/components/waveform/WaveformControls.tsx
  frontend/tailwind.config.js
Due: eslint-frontend, vitest-frontend

Add branding: logo, favicon, and dynamic page titles
  frontend/index.html
  frontend/public/android-chrome-192x192.png
  frontend/public/android-chrome-512x512.png
  frontend/public/apple-touch-icon.png
  frontend/public/favicon-16x16.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon.ico
  frontend/public/logo.png
  frontend/public/site.webmanifest
  frontend/src/components/layout/Layout.tsx
  frontend/src/pages/ProjectEditorPage.tsx
Due: eslint-frontend, vitest-frontend

Add sidebar with collapsible projects and settings page
  frontend/src/App.tsx
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/SettingsPage.tsx
Due: eslint-frontend, vitest-frontend

Add language selection and settings system
  backend/alembic/versions/4d343e2add9e_add_project_languages_and_simplify_.py
  backend/alembic/versions/bc7764e54841_add_app_settings_table.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/app_settings.py
  backend/app/models/project.py
  backend/app/prompts.py
  backend/app/repositories/project_repo.py
  backend/app/routers/projects.py
  backend/app/routers/segments.py
  backend/app/routers/settings.py
  backend/app/schemas/__init__.py
  backend/app/schemas/project.py
  backend/app/schemas/settings.py
  backend/app/services/openai_service.py
  backend/app/services/project_service.py
  backend/app/services/segment_service.py
  backend/app/services/settings_service.py
  backend/tests/test_openai.py
  frontend/public/flags/de.png
  frontend/public/flags/en.png
  frontend/public/flags/es.png
  frontend/public/flags/fr.png
  frontend/public/flags/ja.png
  frontend/public/flags/ko.png
  frontend/public/flags/no.png
  frontend/public/flags/pl.png
  frontend/public/flags/pt.png
  frontend/public/flags/tl.png
  frontend/public/flags/uk.png
  frontend/public/flags/zh.png
  frontend/src/components/projects/CreateProjectDialog.tsx
  frontend/src/components/projects/ProjectCard.test.tsx
  frontend/src/components/ui/LanguageListbox.tsx
  frontend/src/features/projects/api.ts
  frontend/src/features/settings/api.ts
  frontend/src/pages/ProjectEditorPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/test/mocks/handlers.ts
  frontend/src/types/index.ts
Due: pytest-backend, eslint-frontend, vitest-frontend

Add table view for projects with grid/table toggle
  frontend/src/components/projects/ProjectTable.tsx
  frontend/src/pages/ProjectListPage.tsx
Due: eslint-frontend, vitest-frontend

Add project rename functionality
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectTable.tsx
  frontend/src/components/projects/RenameProjectDialog.tsx
Due: eslint-frontend, vitest-frontend

Apply glassmorphism UI styling across frontend
  frontend/public/logo.png
  frontend/src/components/layout/Layout.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/projects/ProjectCard.tsx
  frontend/src/components/projects/ProjectTable.tsx
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/ui/LanguageListbox.tsx
  frontend/src/components/ui/VoiceListbox.tsx
  frontend/src/components/waveform/WaveformPlayer.tsx
  frontend/src/pages/ProjectListPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/tailwind.config.js
Due: eslint-frontend, vitest-frontend

Make audio extraction automatic after video upload
  frontend/src/components/editor/VideoUploadDropzone.tsx
  frontend/src/pages/ProjectEditorPage.tsx
Due: eslint-frontend, vitest-frontend

Add Firebase authentication to backend
  backend/alembic/versions/4d343e2add9e_add_project_languages_and_simplify_.py
  backend/alembic/versions/bc7764e54841_add_app_settings_table.py
  backend/alembic/versions/fba6c0971288_initial_schema_with_auth.py
  backend/app/config.py
  backend/app/dependencies/__init__.py
  backend/app/dependencies/auth.py
  backend/app/main.py
  backend/app/middleware/__init__.py
  backend/app/middleware/auth.py
  backend/app/models/__init__.py
  backend/app/models/app_settings.py
  backend/app/models/project.py
  backend/app/repositories/project_repo.py
  backend/app/routers/files.py
  backend/app/routers/projects.py
  backend/app/routers/segments.py
  backend/app/routers/settings.py
  backend/app/services/project_service.py
  backend/app/services/settings_service.py
  backend/pyproject.toml
Due: pytest-backend

Add Firebase authentication to frontend
  .gitignore
  frontend/.env.example
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo-old.png
  frontend/src/App.tsx
  frontend/src/components/auth/AuthProvider.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/index.css
  frontend/src/lib/api-client.ts
  frontend/src/lib/firebase.ts
  frontend/src/lib/styles.ts
  frontend/src/pages/LoginPage.tsx
  frontend/src/stores/authStore.ts
Due: eslint-frontend, vitest-frontend

Disable Create Segment button when no OpenAI API key
  frontend/src/components/waveform/WaveformControls.tsx
  frontend/src/components/waveform/WaveformPlayer.tsx
Due: eslint-frontend, vitest-frontend

Add public landing page with pricing and features
  frontend/public/about.png
  frontend/public/screenshot.png
  frontend/src/App.tsx
  frontend/src/pages/LandingPage.tsx
Due: eslint-frontend, vitest-frontend

Enhance landing page with customization section and styling improvements
  frontend/public/about.png
  frontend/src/pages/LandingPage.tsx
  frontend/src/types/index.ts
Due: eslint-frontend, vitest-frontend

Add Docker deployment support and documentation
  .env.example
  CONTEXT.md
  DESIGN.md
  README.md
  backend/Dockerfile
  backend/README.md
  docker-compose.yml
  frontend/Dockerfile
  frontend/README.md
Due: none

Add MIT license
  LICENSE
Due: none

Add loading spinners to waveform and audio players
  frontend/src/components/ui/AudioPlayer.tsx
  frontend/src/components/waveform/WaveformPlayer.tsx
Due: eslint-frontend, vitest-frontend

Add Firebase auth to production backend
  backend/app/config.py
  docker-compose.yml
Due: pytest-backend

Increase max upload size to 2GB
  backend/app/config.py
  frontend/nginx.conf
  frontend/src/components/editor/VideoUploadDropzone.tsx
Due: pytest-backend, eslint-frontend, vitest-frontend

Fix 401 on audio files by adding authenticated fetch
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/lib/api-client.ts
  frontend/src/pages/ProjectEditorPage.tsx
Due: eslint-frontend, vitest-frontend

Add TTS instructions support with gpt-4o-mini-tts
  backend/app/prompts.py
  backend/app/routers/segments.py
  backend/app/schemas/segment.py
  backend/app/services/openai_service.py
  backend/app/services/segment_service.py
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/types/index.ts
Due: pytest-backend, eslint-frontend, vitest-frontend

Fix download all TTS - use authenticated fetch
  frontend/src/components/segments/SegmentList.tsx
  frontend/src/lib/api-client.ts
Due: eslint-frontend, vitest-frontend

Add ChatterBox TTS integration with custom voices support
  backend/README.md
  backend/alembic/versions/a576da28b9f9_add_custom_voices_table.py
  backend/alembic/versions/ff5ac6cad25d_add_tts_provider_to_user_settings.py
  backend/app/config.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/app_settings.py
  backend/app/models/custom_voice.py
  backend/app/repositories/custom_voice_repo.py
  backend/app/routers/segments.py
  backend/app/routers/settings.py
  backend/app/routers/voices.py
  backend/app/schemas/custom_voice.py
  backend/app/schemas/segment.py
  backend/app/schemas/settings.py
  backend/app/services/chatterbox_service.py
  backend/app/services/custom_voice_service.py
  backend/app/services/segment_service.py
  backend/app/services/settings_service.py
  backend/app/utils/exceptions.py
  docker-compose.yml
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/segments/SegmentCard.tsx
  frontend/src/components/ui/VoiceListbox.tsx
  frontend/src/features/settings/api.ts
  frontend/src/features/voices/api.ts
  frontend/src/lib/api-client.ts
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/VoicesPage.tsx
  frontend/src/types/index.ts
Due: pytest-backend, eslint-frontend, vitest-frontend

Add Firebase service account mount to docker-compose
  docker-compose.yml
Due: none

Fix ChatterBox health check timeout (3s instead of 120s)
  backend/app/services/chatterbox_service.py
Due: pytest-backend

Fix sidebar nav link flicker on route change
  frontend/src/components/layout/Sidebar.tsx
Due: eslint-frontend, vitest-frontend

Fix Tailscale sidecar setup with network_mode
  docker-compose.yml
Due: none

Fix frontend nginx to connect to backend via tailscale
  docker-compose.yml
  frontend/nginx.conf
Due: none

Support token query parameter for media file authentication
  backend/app/middleware/auth.py
Due: pytest-backend

Improve Custom Voices page layout
  config.yaml
  frontend/src/pages/VoicesPage.tsx
Due: eslint-frontend, vitest-frontend

Add download button for custom voices
  backend/voices/test-user/d4548c3e-2892-4cdf-bb98-e0033908ef21.wav
  backend/voices/test-user/f11c0f6f-8529-4338-b8c2-ca69647178fe.wav
  frontend/src/pages/VoicesPage.tsx
Due: eslint-frontend, vitest-frontend
